In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("Telco-Customer-Churn.csv")

In [12]:
df[['customerID', 'gender', 'Churn']]

      customerID  gender Churn
0     7590-VHVEG  Female    No
1     5575-GNVDE    Male    No
2     3668-QPYBK    Male   Yes
3     7795-CFOCW    Male    No
4     9237-HQITU  Female   Yes
...          ...     ...   ...
7038  6840-RESVB    Male    No
7039  2234-XADUH  Female    No
7040  4801-JZAZL  Female    No
7041  8361-LTMKD    Male   Yes
7042  3186-AJIEK    Male    No

[7043 rows x 3 columns]

In [ ]:
  ?kjhgf
    567=zxaCSd
    sd
    c